Hello,

{{ inviter_email }} invited {{ invited_email }} to join {{ store_name }} as {{ role }}.

Accept your invitation:
{{ invite_link }}

This invitation expires on {{ expires_at }}.

If you were not expecting this invite, you can ignore this message.
